body{
    background-color: whitesmoke;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Baskerville', serif;
}
p,a{
    font-family: 'Montserrat', sans-serif;
}
/* Navbar */
.nav-item{
    margin:0 1rem;
    font-size:1.2rem;
    color:rgb(75, 71, 71) !important;
}
.navbar{
    padding: 1.5rem 0;
    background-color: white !important;
}
.navbar-brand{
    font-size: 2rem;
    color:#335EEA !important;
    font-weight: bold;
}
.bynowbtn{
    text-decoration:none;
    background-color: #335EEA;
    color:white;
    padding:0.5rem 1rem;
    transition-property: transform;
    transition-duration: 0.2s;
}
.bynowbtn:hover{
    transform: translateY(-0.3rem);
    color:white;
    background-color: rgb(11, 86, 248);
}
/* title section */
.illus-image{
    width:95% !important;
}
.tit-but{
    padding:1rem 1rem;
}
.tit-div{
    margin-top:4rem;
    margin-bottom:4rem;
}
.tit-div h2, .tit-div p{
    line-height: 1.5;
}
.tit-pa{
    margin:2rem 0;
}
.tit-div h2{
    font-size: 3rem;
    
}
.fa-arrow-right{
    margin-left:0.5rem;
}
/* section two */
.sec2-img{
    width:15%;
    margin-bottom:1rem;
}
.sect-2{
    margin-left:1rem;
    line-height:1.7;
    margin:2rem 1rem;
}
/* section 3 */
.my-img-class{
    margin:8rem 0;
}
.my-img-class img{
    width:100%;
    height:6.5rem;
}
/* login section */
.login-sec{
    transition-property: transform;
    transition-duration:0.5s;
    
}
.login-sec:hover{
    transform: translateY(-0.5rem);
}
.login-sec img{
    width:80%;
}
.login-sec form{
    margin:2.5rem 0;
}
.login-sec form input{
    border: none;
    outline: none;
    line-height: 2;
}

.download{
    display:block;
    text-decoration: none;
    padding:1rem 0;
    text-align: center;
    background-color: #389E80;
    margin-right:8rem;
    color:white;
    margin-top:1.5rem;
    margin-bottom:2rem;
    font-size:1.5rem;
    transition-property: transform;
    transition-duration:0.5s;
}
.download:hover{
    background-color: #057452;
    color:white;
    transform: translateY(-0.5rem);
}
.login-para{
    margin-top:3.5rem;
}
.login-para h5{
    font-size: 1.5rem;
    line-height: 2;
}
.login-para h5:nth-child(2){
    color:#389E80;
}
.login-para p{
    font-size:1.5rem;
    line-height: 1.5;
}
.login-para-icon{
    color:#389E80;
    line-height: 2;
}
/* dashboard section */
.dash-logo-text{
    width:90%;
}
/* customer */
.customer{
    text-align: center;
    width:50rem;
    margin:4rem auto;
}
/* laughing women section */
.laugh-woman{
    margin-bottom:4rem;
    padding-left:2rem;
    padding-right:5rem;
}
.lw-ca{
    text-align: center;
}
.lw-ca img{
    width:85%;
    border-radius: 0 8rem  3rem 0;
}
.lw-cb{
    text-align: center;
}
.lw-cb img{
    width:20%;
    margin:3rem 0;
}
.lw-pa{
    line-height: 2;
}
.lw-pb{
    font-size:0.8rem;
}
.carousel-control-prev-icon , .carousel-control-next-icon{
    background-color:#335EEA;
    margin-right: 2rem;
}
/* Business section */
#business img{
    width:90%;
    text-align: center;
}
/* Pricing section */

#pricing{
    margin:5rem 0 0 0;
    background-color:whitesmoke;
    text-align: center;
    position:relative;
    padding:5rem 0 10rem 0;
}

.fair,.resource{
    width:60%;
    margin:0 auto;
    line-height: 2;
    margin-bottom:2rem;
}
.pr-fc{
    padding:5rem 0 0 0;
    background-color: white;
    margin:0;
    border-right:3px solid rgb(201, 197, 197);
}
.pr-fc i{
    color:rgb(0, 128, 85);
}
.pr-sc{
    padding:3rem 0 0 0 !important;
    background-color:white;
    margin:0;
}
.pr-sc h6,.pr-sc p{
    margin:3.5rem;
}
.pr-sc a,.pr-fc a{
    display: block;
    border-radius: 0;
}
.pr-fc h6,.pr-sc h6{
    display: inline-block;
    color:rgb(0,128,85);
    padding:0.5rem;
    border-radius:10%;
    background-color:skyblue;
}
.pri-main{
    position:absolute;
    margin: 0;
    margin-right: 4rem;
}
/* descriptive */
.descriptive{
    background-color:#1B2A4E;
    padding:25rem 0 5rem 0;
    color:white;
    
}
@media (max-width:991px){
    .descriptive{
        padding-top:55rem;
        
    }
}
.descriptive i{
    color:white;
    background-color:#42BA96;
    padding:0.5rem;
}
.advertise{
    width:70%;
    text-align:center;
    margin:6rem auto;
    color:whitesmoke;
}
#buyit{
    font-size:2rem;
    text-decoration: none;
    padding:0.5rem 3rem;
    background: #389E80;
    border-radius:10%;
}
.advertise span{
    margin-bottom:1rem;
    display: inline-block;
}
.advertise h2{
    margin-bottom: 2rem;
}
.advertise p{
    line-height: 2;
    margin-bottom:2rem;
}
/* Footer section */
footer img{
    margin-bottom:1rem;
}
footer #abetter{
    margin-bottom: 1rem;
    font-size:1.2rem;
}
footer span a i{
    margin:1rem;
    font-size: 1.4rem;
}
footer ul li{
    list-style-type: none;
}
footer ul a:link,footer ul li a:visited{
    text-decoration:none;
    line-height: 2.5;
}
